@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  background-color: black;
  color: white;
}
/* styles/globals.css */
h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

button {
  color : white;
  border: 1px solid #ccc;
  background-color: gray;
  border-radius: 5px;
  display: block;
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.rec{
  background-color: red;
}

p {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 1rem;
  min-height: 200px;
  font-size: 1.5rem;
  padding: 10%;
}

/* 改行とスペースをそのまま表示 */
.pre {
  white-space: pre;
}

